<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-steam-wave-international-film-festival-banner-poster-image_195212.jpg);">
  <div class="container">
    <h1>Movies</h1>
      <%= link_to "New movie", new_movie_path, class: "my-3 btn btn-primary rounded shadow-sm" %>
  </div>
</div>


<div class="container">
<p style="color: green"><%= notice %></p>

  <div class="text-center">
    <h1>Movies (<%= @movies.count %>)</h1>
  </div>


  <div class="row" id="movies">
    <% @movies.each do |movie| %>
    <% rating = movie.rating %>
    <% poster_url = movie.poster_url %>
      <div class="col-sm-6">
        <div class="card my-3 mx-3 p-3 shadow rounded">
        <%= image_tag poster_url, alt:"movie poster", class:"card-img-top" %>
          <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
              <p class="card-text"><%= movie.overview %></p>
              <div class="d-flex flex-row">
              <small>
                <% movie.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <p><%= movie.rating %> / 10</p>
              </small>
              </div>
            </div>
          <div class="d-flex flex-row">
             <%= link_to "Show this movie", movie, class: "btn btn-primary mt-3" %>
               <% unless movie.bookmarks.exists? %>
                  <%= button_to "Delete", movie, method: :delete, class:"btn btn-danger mt-3 mx-3" %>
                <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>
